<ion-header>
  <ion-toolbar class="colorToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ticket # : {{ ticketRecibido.ticket }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="listaMargen"></div>

    <ion-list class="line-input">
      <ion-label class="etiquetas">Cliente</ion-label>
        
        <div class="item-content-cliente" (click)="IraInfoCliente(ticketRecibido.cliente)">
          <ion-label>{{ ticketRecibido.nombre }}</ion-label>
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </div>    
         
         <!-- <div class="item-content-estado">
          <ion-label class="lbEstado">Estado : </ion-label>
          <ion-select slot="end" (ionChange)="SeleccionoOpcion($event)" [(ngModel)]="ticketRecibido.estado" class="cmbEstado" value="{{ ticketRecibido.estado }}" [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One">
            <ion-select-option *ngFor="let e of estados" [value]="e.estado">{{ e.estado }}</ion-select-option>
          </ion-select>
        </div>  -->

         <div class="item-content-generalInformacion">
          <ion-label>Estado : </ion-label>
          <ion-button slot="end"  fill="outline"
                      (click)="LlamarModalDetalle()">
                      {{ ticketRecibido.estado }}
          </ion-button>
        </div> 

        <ion-label class="etiquetas">Fecha de Inicio</ion-label>
        <div class="item-content-generalInformacion">
          <ion-label>{{ ticketRecibido.fechaIni }}</ion-label>
        </div>

        <ion-label class="etiquetas">Tipo de Reclamo</ion-label>
        <div class="item-content-generalInformacion">        
          <ion-label>{{ ticketRecibido.tipoReclamo }}</ion-label>
        </div>

        <ion-label class="etiquetas">Descripción</ion-label>
        <div class="item-content-generalInformacion">        
            <ion-label>{{ ticketRecibido.descripcion }}</ion-label>
        </div>

        <ion-label class="etiquetas">Telefono 1</ion-label>
        <div class="item-content-generalInformacion">        
            <ion-label>{{ ticketRecibido.telefono1 }}</ion-label>
        </div>

        <ion-label class="etiquetas">Telefono 2</ion-label>
        <div class="item-content-generalInformacion">        
            <ion-label>{{ ticketRecibido.telefono2 }}</ion-label>
        </div>

      </ion-list> 

</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar color="light">
    <ion-button slot="start" shape="round" fill="outline" style="margin-left: 14px;"
                (click)="IrFotos()">
      Fotos
    </ion-button>

    <ion-button slot="end" shape="round" style="--background: #3498db; margin-right: 14px;"
    (click)="IrAceptacion()">
       Aceptación
    </ion-button>
  </ion-toolbar>
</ion-footer>

