.item-content-cliente {
    background-color: #54a0ff;
    border-radius: 12px;
    margin-top: 1px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .item-content-estado {
    border: 1px solid #dedede;
    border-radius: 12px;
    margin-top: 1px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
  }