
.contenedorLabel{
    margin-top: 7%;
    margin-bottom: 3%;
    width: 100%;
    display: grid;
    justify-content: center;
}

.lbBienvenido{
    font-size: 1.6rem;
    color: #34495e;
    margin: 0px;
    margin-top: 12px;
}

.itemPadding{
  margin: 0px;
  padding: 0px;
}

.lbIniciar{
    font-size: 1.1rem;
    color: #34495e;
    --margin: 0px;
}

.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 30px;
        margin-left: 34px; 
        margin-right: 34px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
  }
